body {
        margin-top: 20px;
        margin-left: 200px;
        margin-right: 200px;
        padding: 10px 150px 10px 150px;
        border-radius: 15px;
        background-color: rgb(163, 163, 167);
   
}

h1 {
    text-align: center;
    font-family: 'Macondo', cursive; 
    color: rgb(241, 96, 120);
}

h4 {
   font-family: 'Kavivanar', cursive;
   color: rgb(235, 20, 56);
   margin-bottom: 15px;
   margin-top: 15px;
   
}
h3{
    font-family: 'Kavivanar', cursive;
   color: rgb(235, 20, 56);
   margin-bottom: 15px;

}

input[type=text] {
    border: none;
    border-bottom: 2px solid rgb(45, 45, 47);
    margin-left: 10px;
    margin-bottom: 15px;
}
table {
    border: 1px solid rgb(77, 79, 82);
    width: 85%;
    margin: 0 auto;
    font-size: 17px;
  }
  
  th {
    border-bottom: 1px solid rgb(77, 79, 82);
  }
  
  th, td {
      padding: 10px;
      text-align: left;
      font-family: 'Ranga', cursive;
      border-bottom: 1px solid rgb(77, 79, 82);
  }
